<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622620882916-mq7mo8o52i2n7sg9on2lro5vuspd2d1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622620882916-mq7mo8o52i2n7sg9on2lro5vuspd2d1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBX7869aHVksv-EJFAHsVICOGzB9PXaiHA</string>
	<key>GCM_SENDER_ID</key>
	<string>622620882916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.barnaral.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>cs492-wasteagram-514e2</string>
	<key>STORAGE_BUCKET</key>
	<string>cs492-wasteagram-514e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622620882916:ios:c61b49e84ec434e62479f1</string>
</dict>
</plist>